@import 'colors';
@import 'fonts';

@media screen and (min-width:1024px){
//Container about start
.aboutContainer{
    margin: 100px auto auto auto;
    padding: 0px 0px 0px 0px;
    }

    .rowAboutContainer{
        margin: auto;
        padding: 0px 0px 0px 0px;
    }
    
    .bestContainer{
    width: 222px;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin:auto;
    padding: 0px 0px 0px 0px;
    }
    
    .colBtnBest1{
        margin: 64px auto  auto auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    .colBtnBest2{
        display:none !important;
        padding: 0px 0px 0px 0px;
    }

    .colItemsContainer{
        margin: auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 200px;
    }

    .imgAboutContainer{
        margin: 10px auto auto auto;
        padding: 0px 0px 0px 0px;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .textAboutContainer{
    margin: 39px auto auto auto;
    text-align: center;
    width: 270px;
    padding: 0px 0px 0px 0px;
    }
    
    .imgItem{
        margin:auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        display:block;
        padding: 0px 0px 0px 0px;
    }
    //Container about end

    //Texts about start
.bestText{
    font-weight: 700;
    font-size: 50px;
    color: $color4;
    font-family: 'Source Sans Pro', sans-serif;
}

.besText2{
    display:none !important;
}

.texItems{
    font-weight: 700;
    font-size: 15px;
    color: $color4;
    font-family: 'Raleway', sans-serif;
}
//Texts about end

//Images about start
.imgItem{
    width: 41.73px;
    height: 41.72px;
    padding: 0px 0px 0px 0px;
  }
  //Images about end
}
    
@media screen and (min-width: 768px) and (max-width: 1023px){
//Container about start
.aboutContainer{
    margin: 100px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }

    .rowAboutContainer{
        margin: auto;
        padding: 0px 0px 0px 0px;
    }

    .bestContainer{
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0px 0px 0px 0px
    }
   

    .colBtnBest1{
        margin: 20px auto  auto auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    .colBtnBest2{
        display:none !important;
        padding: 0px 0px 0px 0px;
    }

    .colItemsContainer{
        margin: 68px auto auto auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 200px;
    }

    .imgAboutContainer{
        margin: 10px auto auto auto;
        padding: 0px 0px 0px 0px;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .textAboutContainer{
    margin: 39px auto auto auto;
    text-align: center;
    width: 270px;
    padding: 0px 0px 0px 0px;
    }
    
    .imgItem{
        margin:auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        display:block;
        padding: 0px 0px 0px 0px;
    }
    //Container about end

    //Texts about start
.bestText{
    font-weight: 700;
    font-size: 50px;
    color: $color4;
    font-family: 'Source Sans Pro', sans-serif;
}

.besText2{
    font-weight: 400;
    font-size: 14px;
    color: $color27;
    font-family: 'Raleway', sans-serif;
}

.texItems{
    font-weight: 700;
    font-size: 15px;
    color: $color4;
    font-family: 'Raleway', sans-serif;
}
//Texts about end

//Images about start
.imgItem{
    width: 41.73px;
    height: 41.72px;
  }
  //Images about end
}
    
@media screen and (min-width: 359px) and (max-width: 767px){
//Container about start
.aboutContainer{
    margin: 100px auto auto auto;
    padding: 0px;
    }
    
    .bestContainer{
    justify-items: center;
    align-items: center;
    text-align: center;
    margin:auto;
    }
    
    .colBtnBest1{
        display:none !important;
    }

    .colBtnBest2{
        margin: 20px auto  auto auto;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .colItemsContainer{
        margin: 50px auto auto auto;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .imgAboutContainer{
        margin: 10px auto auto auto;
        padding: 0px;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .textAboutContainer{
    margin: 39px auto auto auto;
    text-align: center;
    width: 270px;
    }
    
    .imgItem{
        margin:auto;
        justify-items: center;
        align-items: center;
        text-align: center;
        display:block;
    }
    //Container about end

    //Texts about start
.bestText{
    font-weight: 700;
    font-size: 25px;
    color: $color4;
    font-family: 'Source Sans Pro', sans-serif;
}

.besText2{
    font-weight: 400;
    font-size: 14px;
    color: $color27;
    font-family: 'Raleway', sans-serif;
}

.texItems{
    font-weight: 700;
    font-size: 15px;
    color: $color4;
    font-family: 'Raleway', sans-serif;
}
//Texts about end

//Images about start
.imgItem{
    width: 41.73px;
    height: 41.72px;
  }
  //Images about end
}