$color1: #ffffff;

$color2: #c2d0de;

$color3 : #bac1cd;

$color4: #1e3853;

$color5: #ff8800;

$color6: #000000;

$color7: #707070;

$color8: #d6d6d6;

$color9: #969696;

$color10: #a3a3a3;

$color11: #406e9d;

$color12: #000000;

$color13: #4f83cc;

$color14: #002f6c;

$color15: #f57c00;

$color16: #01579b;

$color17: #bb4d00;

$color18: #ffad42;

$color19: #f7f7f7;

$color20: #9b9b9b;

$color21: #89b3e5;

$color22: #aaaaaa;

$color23: #537ca5;

$color24: #395e7c;

$color25: #fcfdff;

$color26: #3e8257;

$color27: #919191;

$color28: #DEDEDE;

$color29: #B1B1B1;

$color30: #1E3853;

$color31: #D7D7D7;

$color32: #CB6C00;

$color33: #844C0B;