//Images header start
  .imgabbla1{
    height: 39px;
    width: 138px;
  }
    
//Images header end

//Images principal start
  
//Images principal end

//Images carousel start
.smsLinkSlide{
  width: 33.8px;
  height: 18.25px;
}

.whatsLinkSlide{
  width: 28.13px;
  height: 28.13px;
}

.chatbotLinkSlide{
  width: 27.84px;
  height: 29.59px;
}
//Images carousel end

//Images about start
.imgItem{
  width: 41.73px;
  height: 41.72px;
  margin-left: 90px
}
//Images about end

//Images steps start
.imgStepPhone{
  width: 158.89px;
  height: 176.48px;
}

.circle {
  width: 46px;
  height: 46px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: $color4;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: $color1;
}
//Images steps end

//Images sample start
.imgSample{
  width: 300px;
  margin-top: 40px;
}
//Images sample end

//Images layout start

//Images layout end
