@import 'colors';
@import 'fonts';
@import 'images';

@media screen and (min-width:1024px){
//Container principal start
.imgPrincipalContainer{
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px
}

.imgContainerPrincipal{
  margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px
}

.rowPrincipalContainer{
  margin: auto;
  padding: 0px 0px 0px 0px;
}

.capa0{ 
    position:absolute; 
    width: 100%;
    margin: auto;
    padding: 0px 0px 0px 0px;
  }

.probeBtnn{
    margin: auto auto auto;
    padding: 0px 0px 0px 0px;
}

.textSms{
  margin: 56px auto auto auto;
  padding: 0px 0px 0px 0px;
}

.infoText1Container{
  margin: 10px auto;
  padding: 0px 0px 0px 0px;
  display: block;
}

.infoText2Container{
  margin: 15px auto;
  padding: 0px 0px 0px 0px;
  display: block;
}
//Container prinipal end

//Texts principal start
.textSms{
    font-weight: 400;
    font-size: 24px;
    color: $color4;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
//Texts principal end

//Buttons start

.btn-warning{
    color: $color1;
    background-color: $color5;
    border-color: $color5;
    width: 256px;
    height: 48px;
    border-radius: 4px;
    box-shadow: -2px 2px 6px $color6;
    font-size: 14px;
    font-weight: 700;
}

//Buttons end
}
    
@media screen and (min-width: 768px) and (max-width: 1023px){
//Container principal start
.imgPrincipalContainer{
    width: 100%;
    margin: 67.75px auto auto auto;
    padding: 0px 0px 0px 0px;
}
.imgContainerPrincipal{
  margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px
}

.rowPrincipalContainer{
  margin: auto;
  padding: 0px 0px 0px 0px;
}

.capa0{ 
  position:absolute; 
  width: 100%;
  margin: auto;
  padding: 0px 0px 0px 0px;
  }

.probeBtnn{
  margin: auto auto auto;
  padding: 0px 0px 0px 0px;
}

.textSms{
  margin: auto;
  padding: 0px 0px 0px 0px;
}

.infoText1Container{
  margin: 10px auto;
  padding: 0px 0px 0px 0px;
  display: block;
}
//Container prinipal end

//Texts principal start
.textSms{
    font-weight: 400;
    font-size: 18px;
    color: $color4;
    font-family: 'Raleway', sans-serif;
}
//Texts principal end

//Buttons start

.btn-warning{
    color: $color1;
    background-color: $color5;
    border-color: $color5;
    width: 256px;
    height: 48px;
    border-radius: 4px;
    box-shadow: -2px 2px 6px $color6;
    font-size: 14px;
    font-weight: 700;
}
//Buttons end
}
    
@media screen and (min-width: 359px) and (max-width: 767px){
//Container principal start
.imgPrincipalContainer{
    margin: 176.87px auto auto auto;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.imgContainerPrincipal{
margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px
}
.rowPrincipalContainer{
  margin: auto;
  padding: 0px 0px 0px 0px;
}

.capa0{ 
    position:absolute; 
    width: 100vw;
    margin: auto;
    padding: 0px 0px 0px 0px;
  }

.probeBtnn{
    margin: 148px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.textSms{
  margin: 56px auto auto auto;
  padding: 0px 0px 0px 0px;
}

.infoText1Container{
  margin: auto;
  padding: 0px 0px 0px 0px;
  display: block;
}

.infoText2Container{
  margin: 15px auto;
  padding: 0px 0px 0px 0px;
  display: block;
}
//Container prinipal end

//Texts principal start
.textSms{
    font-weight: 400;
    font-size: 12px;
    color: $color4;
    font-family: 'Raleway', sans-serif;
}
//Texts principal end

//Buttons start

.btn-warning{
    color: $color1;
    background-color: $color5;
    border-color: $color5;
    width: 256px;
    height: 48px;
    border-radius: 4px;
    box-shadow: -2px 2px 6px $color6;
    font-size: 14px;
    font-weight: 700;
}

//Buttons end
}