@import 'colors';
@import 'fonts';

@media screen and (min-width:1024px){
//Container sample start
.sampleContainer{
background: linear-gradient(to right, $color1, $color3);
margin: 63px auto auto auto;
padding: 0px 0px 0px 0px;
}

.easyFormContainer{
margin: 48px auto auto 150px;
padding: 0px 0px 0px 0px;
text-align: center;
}

.bntEasyForm{
padding: 0px 0px 0px 0px;
margin:  auto;
align-items: center;
justify-items: center;
}

.colSampleContainer1{
padding: 0px 0px 0px 0px;
margin:  auto;
align-items: center;
justify-items: center;
}

.colSampleContainer2{
padding: 0px 0px 0px 0px;
margin:  auto;
align-items: center;
justify-items: center;
}

.colSampleContainer3{
padding: 0px 0px 0px 0px;
margin:  auto;
align-items: center;
justify-items: center;
}

.colSampleContainer4{
  display:none !important;
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
    }
//Container sample end

//Texts sample start
.easyFormText{
    font-weight: 700;
    font-size: 50px;
    color: $color4;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}
//Texts sample end

//Images sample start
.imgSample{
  width: 300px;
  margin: 40px auto auto auto;
  padding: 0px 0px 0px 0px;
}
//Images sample end
}
    
@media screen and (min-width: 768px) and (max-width: 1023px){
//Container sample start
.sampleContainer{
background: linear-gradient(to right, $color1, $color3);
margin: 0px;
padding: 0px 0px 0px 0px;
}

.easyFormContainer{
margin: 0px auto auto 57px;
padding: 0px 0px 0px 0px;
text-align: center;
}

.bntEasyForm{
padding: 0px 0px 0px 0px;
margin:  33px 0px 0px 0px;
align-items: center;
justify-items: center;
}

.colSampleContainer1{
padding: 0px 0px 0px 0px;
margin:  54px 0px 0px 0px;
align-items: center;
justify-items: center;
}

.colSampleContainer2{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 49px;
  align-items: left;
  justify-items: left;
  }

  .colSampleContainer3{
    padding: 0px 0px 0px 0px;
    margin:  10px auto auto auto;
    align-items: center;
    justify-items: center;
    }

.colSampleContainer4{
  display:none !important;
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
    }
//Container sample end

//Texts sample start
.easyFormText{
    font-weight: 700;
    font-size: 37px;
    color: $color4;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}
//Texts sample end

//Images sample start
.imgSample{
  display: flex;
  width: 300px;
  margin: 40px auto auto auto;
}
//Images sample end
}
    
@media screen and (min-width: 359px) and (max-width: 767px){
//Container sample start
.sampleContainer{
  background: linear-gradient(to right, $color1, $color3);
  height: 730px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  }
    
    .easyFormContainer{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    }
    
    .bntEasyForm{
    padding: 0px 0px 0px 0px;
    margin:  32px auto auto auto;
    display: block;
    }
    
    .colSampleContainer1{
    padding: 70px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
    height: 10px;
    }
    .colSampleContainer2{
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
    }

    .colSampleContainer3{
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
    display:none !important;
    }

    .colSampleContainer4{
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
    }
    //Container sample end
    
    //Texts sample start
    .easyFormText{
        font-weight: 700;
        font-size: 30px;
        color: $color4;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
    }
    //Texts sample end
    
    //Images sample start
    .imgSample{
      width: 300px;
      margin: 40px auto auto auto;
      display: flex;
    }
    //Images sample end
}
